<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>cool image library, i guess...</title>
        <meta name="description" content="simple but cool dynamic image library, gallery that you can add any image to">
        <meta name="keywords" content="images, pictures, gallery, memes, image library">
        <meta name="author" content="">
        <meta http-equiv="X-Ua-Compatible" content="IE=edge,chrome=1">
        <!-- Set Favicon -->
        <link rel="icon" href="static/favicon.png" type="image/x-icon">
        <!-- css-->
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='images.css') }}">
        <!-- fonts -->
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Jersey+15&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
        </style>
    </head>
    <body>
        <div class="top-bar">
            <a href="{{ url_for('home') }}" class="logo">Dynamic Image Library</a>
            <div class="nav-links">
                <a href="https://github.com/kali4nya/dynamic-image-library" target="_blank" class="social-link">
                    <img src="static/githubUwU.png" onmouseover="changeImage(this)" onmouseout="resetImage(this)" alt="GitHub Icon">
                </a>
                <a class="ahover" href="{{ url_for('home') }}">Home</a>
                <a class="ahover" href="{{ url_for('images') }}">Images</a>
                <a class="ahover" href="{{ url_for('upload') }}">Upload</a>
            </div>
        </div>     

        <div class="search-container">
            <form>
              <input type="text" name="query" placeholder="Search by id or tag soon™" class="search-bar">
              <button type="submit" class="search-button" onclick="search()">Search</button>
            </form>
        </div>
          
        <div class="image-gallery-wraper"> 
            <div class="image-gallery">
                {% for media in images %}
                    {% if media.endswith(('.png', '.jpg', '.jpeg', '.gif', '.webp', '.bmp')) %}
                        <img src="{{ url_for('serve_image', filename=media) }}" 
                            alt="{{ media }}" 
                            class="gallery-image" 
                            onclick="openImagePreview('{{ url_for('serve_image', filename=media) }}', '{{ media }}')">
                    {% elif media.endswith(('.mp4', '.webm')) %}
                        <video src="{{ url_for('serve_image', filename=media) }}" 
                            alt="{{ media }}" 
                            class="gallery-video"
                            controls
                            onclick="event.stopPropagation(); openImagePreview('{{ url_for('serve_image', filename=media) }}', '{{ media }}')">
                        </video>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        
            <!-- Modal for full-size image preview -->
        <div id="image-modal" class="modal">
            <span class="close" onclick="closeImagePreview()">&times;</span>
            <span class="prev" onclick="changeMedia(-1)">&#10094;</span> <!-- Left arrow -->
            <span class="next" onclick="changeMedia(1)">&#10095;</span>  <!-- Right arrow -->
            
            <div class="modal-content-container">
                <img class="modal-content" id="full-image">
                <video class="modal-content" id="full-video" controls></video>
            </div>

            <div id="image-id" class="image-id"></div> <!-- Displays the media filename -->
        </div>
        
        <script src="static/script.js"></script>
        <script src="static/images.js"></script>
    </body>
</html>
